<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Usuario</title>
</head>
<body>

<form action="/formulario/enviar" method="post" th:object="${usuario}">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" />
    </div>
    <div>
        <label for="edad">Edad:</label>
        <input type="text" id="edad" th:field="*{perfil.edad}" />
    </div>
    <!-- Aquí agregamos la sección para las necesidades -->
    <div id="necesidades">
        <label>Necesidades:</label>
        <div th:each="necesidad, iterStat : *{necesidades}">
            <div>
                <input type="text" th:field="*{necesidades[__${iterStat.index}__].tipoNecesidad}" />
                <button type="button" onclick="eliminarNecesidad(this)">Eliminar</button>
            </div>
        </div>
        <button type="button" onclick="agregarNecesidad()">Agregar necesidad</button>
    </div>
    <button type="submit">Enviar</button>
</form>

<script th:inline="javascript">
    /* Función para agregar una nueva necesidad */
    function agregarNecesidad() {
        var contenedor = document.getElementById("necesidades");
        var index = contenedor.children.length - 1; // Índice de la nueva necesidad
        var nuevaNecesidad = document.createElement("div");
        nuevaNecesidad.innerHTML = '<input type="text" th:field="*{necesidades[__${index}__].tipoNecesidad}" />' +
            '<button type="button" onclick="eliminarNecesidad(this)">Eliminar</button>';
        contenedor.insertBefore(nuevaNecesidad, contenedor.lastElementChild);
    }

    /* Función para eliminar una necesidad */
    function eliminarNecesidad(botonEliminar) {
        botonEliminar.parentNode.remove();
    }
</script>

</body>
</html>
